<section class="section summary-section" id="career">
<h2 class="section-title"><i class="fa fa-user"></i>关于我</h2>
<div class="summary">
    <p>
    	2015年毕业生，热爱前端技术，注重学习，细心，爱钻研，喜欢创新，具有团队合作精神，可适应高强度的工作。能熟练运用html5，css3，且理解各主流浏览器之间的兼容性；对流行的前端开发框架bootstrap有实际的项目开发经验；能熟练使用前端开发构建工具gulp.js、webpack；且对css预编译语言less和sass有实际项目经验。喜欢MVVM框架的便捷，例如双向绑定，数据更新视图等，相对于angular来说vue更轻便一灵活一点，所以个人而言更喜欢vueJs。在服务器后台方面我也在学习Nodejs，express.js等。并且会为前端不断的学习努力着。制定了前端规范，使用vue，webpack，gulp搭建过项目。
	</p>
	<p>
		爱唱歌，爱爬山，爱旅游，爱阅读。
	</p>
</div><!--//summary-->
</section><!--//section-->