<section class="section experiences-section" id="experience">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">前端开发工程师</h3>
                            <div class="time">2016.05 - 2017.03</div>
                        </div><!--//upper-row-->
                        <div class="company">深圳文思海辉技术有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.负责公司项目模块完成</p>  
                        <p>2.负责公司前端规范制定和维护</p>
                        <p>3.负责公司前端框架搭建</p>
                        <p>4.参与前端技术选型</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">前端工程师</h3>
                            <div class="time">2014.12 - 2016.4</div>
                        </div><!--//upper-row-->
                        <div class="company">深圳鸿渡锦程教育有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.完成原型页面制作</p>
                        <p>2.完成页面交互</p>
                        <p>3.参与需求讨论</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
             
                
            </section><!--//section-->