<section class="section projects-section" id="project">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经验</h2>
                <div class="intro">
                    <p>参与公司项目功能模块开发，依据项目所选的技术搭好前端整体架构，参与需求讨论，及依据UI制定的前端页面规范，编写公共样式和公共方法，避免重复造轮子 。</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://www.hifats.com" target="_blank">融汇金服</a></span> - <span class="project-tagline">一个金融理财平台，客户可以通过平台了解产品，购买产品，对其转让，挂牌，申请融资等。此项目前端采用angularJs和bootstrap技术实现响应式和单页，gulpJs进行打包，其他技术还用到图表插件echart，预处理语言sass等。</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://mm.cmbchina.com/ctes_web/#/index" target="_blank">财资互动平台</a></span> - 
                    <span class="project-tagline">银行，理财，投资为一体的生态圈，可以说是金融界的知乎。此项目前端技术以angular+bootstrap+less为主，服务端启动使用Nginx。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">融汇金服运营管理系统</a></span> - <span class="project-tagline">基于融汇平台，依据权限管理操作。此项目是使用vueJs+webpack构建，gulpJs进行压缩打包。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/kikyives/learn" target="_blank">Learn</a></span> - <span class="project-tagline">学习的一些内容，持续更新</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/kikyives/resume" target="_blank">Resume</a></span> - <span class="project-tagline">简历源码</span>
                </div><!--//item-->
            </section><!--//section-->